@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Josefin+Sans:wght@200;300;400;500;600;700&family=La+Belle+Aurore&family=Lobster&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Mochiy+Pop+One&family=Open+Sans:wght@300;400;500;600;700&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;600;700&family=Raleway:ital,wght@0,500;0,700;1,400&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
}
#app{
  min-height: 100vh;
}
h1 {
  font-size: calc(6vw + 2rem);
  color: rgba(0,0,0,.1);
  position: relative;
  top: -20px;
}

.to-do-list {
  background-color: $maincolor;
  min-height: 100vh;
}

.button-action {
  background-color: transparent;
  border: none;
  padding:0px 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  opacity: 1;
  transition: .5s opacity ease-in-out;
}
.button-action:hover{
  opacity: .2;
}
.new {
  border: none;
  outline: none;
  padding: 8px 0px;
  background-color: transparent;
  border-bottom: 1px solid ;
  border-bottom-color: white;
  transition: border-width .3s;
}

.new:focus {
  border-width: 3px;
}

::placeholder {
  color: rgb(238, 238, 238);
  opacity: .5;
}
@mixin  centerItems {
  display: flex;
  align-items: center;
}
// error handle
// .err{
//   padding: 10px;
// }
.logout{
  color: white;
  
}
